.wy-side-nav-search, .wy-nav-top {
    background: #FF007F;
}
.caption-text {
    color: #FF007F;
}
.reference.internal {
    color: #ff8bc5;
}
h1, h2, h3, h4, .rubric {
    color: #FF007F;
}
.wy-table-responsive table td, .wy-table-responsive table th {
    vertical-align: top !important;
    white-space: normal; /* override table no-wrap */
}
